---
import Link from "@/components/custom-ui/Link";
---

<footer
  class={`backdrop-blur-lg text-slate-500 dark:text-slate-500 flex justify-between p-2 items-center overflow-hidden `}
>
  <div class={`flex space-x-4`}>
    <Link
      uri="/meta/work"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >How it Works?</Link
    >
    <Link
      uri="/meta/team"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Team</Link
    >
    <Link
      uri="/meta/policy"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Privacy Policy (fun-storylike-edition)</Link
    >
  </div>

  <div class="">
    by <Link
      uri="https://ara.foundation"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Ara Foundation</Link
    >
  </div>
</footer>
